/* Body styling */
.body {
    font-family: Arial, sans-serif;
    background-image: url(../img/levi-xu-dOhJtfXJZfw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header Section */
header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    background-size: cover;
    margin-bottom: 20px;
    border-style: groove;
}
.nav {
    background-color: rgba(17, 55, 77, 0.5);
    position: relative;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.home-btn {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    /* padding: 10px; */
;
}
.home-btn:hover {
    color: rgb(64, 130, 206);
    text-decoration: underline;
}
#greeting {
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

#opening {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}
/* Main section */
main {
    background-color: rgba(0, 0, 0, 0.884);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    position: sticky;
}
.health-text {
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
}
.health-text h2 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}
.services-text {
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding: 20px;
}

.services {
    border-color: aqua;
}