/* Body styling */
.body {
    font-family: Arial, sans-serif;
    background-image: url(../img/levi-xu-dOhJtfXJZfw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header Section */
header {
    background-color: rgba(46, 109, 192, 0.5);
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.home-btn {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px;
}
.home-btn:hover {
    color: rgb(204, 221, 243);
    /* bottom: 5px; */
}
#greeting {
    color: #fff;
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

#opening {
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}